<component name="ArtifactManager">
  <artifact type="war" name="springspringmvcmybatisplus:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springspringmvcmybatisplus.war">
      <element id="artifact" artifact-name="springspringmvcmybatisplus:war exploded" />
    </root>
  </artifact>
</component>